body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}
#popup {
  position: fixed;
  width: 40%;
  height: 60%;
  top: 50%;
  left: 50%;
  margin-top: -15%; /* Negative half of height. */
  margin-left: -20%; /* Negative half of width. */
}
